<div class="face-snap-card" *ngIf="faceSnap$ | async as faceSnap" [ngClass]="{ snapped : buttonText === 'Oops, unSnap!' }">
    <a routerLink="/facesnaps">Back</a>
    <h2>{{ faceSnap.title | uppercase }}</h2>
    <p>{{ 34.55 | currency: 'FCFA' }}</p>
    <p>Mis en ligne {{ faceSnap.createdDate | date: 'à HH:mm, le d MMMM yyyy' }}</p>
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title" />
    <p>{{ faceSnap.description }}</p>
    <p *ngIf="faceSnap.location">Photo prise à/sur {{ faceSnap.location }}</p>
    <p>
        <button (click)="onSnap(faceSnap.id)">{{ buttonText }}</button>
        <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)' }">🤌 {{ faceSnap.snaps }}</span>
    </p>
</div>